{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

<h3 style="font-family: 'Merriweather', serif; font-weight: 200px; color : white">{% trans "Sign In" %}</h3>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p style="color: white;">{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <br /> <a class="btn btn-warning" href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form style="color: white;" class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" style="color: white;"
    href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button style="margin-bottom:10px;" class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
</form>
</div>
<script>
  let li1 = document.getElementsByClassName('socialaccount_provider google');
  let li2 = document.getElementsByClassName('socialaccount_provider facebook');
  // li1.style.color = 'white';
  li1[0].style.color = 'white';
  li2[0].style.color = 'white';
  li1[0].style.textDecoration = 'none';
  li2[0].style.textDecoration = 'none';
  li1[0].className = 'btn btn-danger';
  // li1[0].style.marginBottom = '10px';
  li2[0].className = 'btn btn-primary';


</script>
{% endblock %}