{%extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup blueForms" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.email|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
      {{ form.username|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
      {{ form.password1|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
      {{ form.password2|as_crispy_field }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.first_name|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
      {{ form.last_name|as_crispy_field }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.enrollnum|as_crispy_field}}
    </div>
    <div class="form-group col-md-6 mb-0">
      {{ form.serialnum|as_crispy_field}}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 mb-0">
      {{ form.course|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
      {{ form.shift|as_crispy_field }}
    </div>
  </div>
  {{form.is_cr|as_crispy_field}}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}

